{
    "env": {
      "browser": false,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 2024
    },
    "rules": {
      "no-unused-vars": ["warn", { "varsIgnorePattern": "^_" }],
      "no-undef": "error"
    }
  }
  